<!DOCTYPE html>
<html ng-app="store">
<head>
    <link rel="stylesheet" type=text/css" href="libs/bootstrap.min.js"/>
</head>
<body ng-controller="StoreController as store">
    <div ng-repeat="product in store.products" >
        <h1>{{product.name}}</h1>
        <h2>{{product.price}}</h2>
        <p>{{ product.description}}</p>

        <button ng-show="store.product.canPurchase">
            Add to Cart
        </button>
    </div>
    <script type="text/javascript" src="libs/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
</body>
</html>